---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Gust - Easy Personal Management">
  <section class="flex flex-col items-center py-8 lg:py-16">
    <img src="/SailingShip7.svg" class="w-32" />
    <h1 class="text-5xl lg:text-9xl font-cabinet font-bold">Gust</h1>
    <h2 class="text-3xl font-bold">An open-source time tracker and project manager</h2>
  </section>

  <section>

  </section>
</SiteLayout>
