---
import { eq, desc } from "drizzle-orm";
import { db } from "../../lib/drizzle";
import * as schema from "../../lib/schema";

export const partial = true;
const session = await Astro.locals.auth.validate();
const user_id = session.user.userId;

const entries = await db.query.entry.findMany({
  where: eq(schema.entry.userId, user_id),
  orderBy: desc(schema.entry.start_time)
});
---

<table class="table table-fixed border-separate border border-slate-500">
  <thead class="table-header-group">
    <tr class="table-row">
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody class="table-row-group">
    { entries.map((e) => (
      <tr class="table-row">
        <td>{e.description}</td>
        <td>{e.start_time}</td>
        <td>{e.end_time ?? "N/A"}</td>
      </tr>
    ))}
  </tbody>
</table>
