---
export const partial = true;
---

<div id="timer" class="border border-blue-500 px-8 py-4 flex justify-between w-full gap-8">
  <input name="description" type="text" placeholder="design prototype..." />
  <p>0</p>
  <button
    hx-trigger="click"
    hx-post="/partials/current-timer"
    hx-include="[name='description']"
    hx-target="#timer"
    hx-swap="outerHTML"
  >
    Start
  </button>
</div>
