---
import TimerControl from "../../components/TimerControl.svelte";
import AppLayout from "../../layouts/AppLayout.astro";

const session = await Astro.locals.auth.validate();
const user = session.user;

---

<AppLayout title="Dashboard - Gust Page">
  <h1>Dashboard {user.username}</h1>
  <section class="w-full flex justify-between px-8 py-4 items-center">
    <span
      id="spanny"
      hx-trigger="load"
      hx-post="/partials/timer/reset-inputs"
      hx-target="this"
      hx-swap="outerHTML"
    >
      <p class="animate-pulse">Loading timer...</p>
    </span>

    <TimerControl client:only="svelte" />
  </section>

  <span
    hx-trigger="load"
    hx-post="/partials/entry-table/base?page=1"
    hx-swap="outerHTML"
  >
    <p class="animate-pulse">Loading table...</p>
  </span>
</AppLayout>
