---
import { eq } from "drizzle-orm";
import { db } from "../../lib/drizzle";
import * as schema from "../../lib/schema";

import TimerControl from "../../components/TimerControl.svelte";
import AppLayout from "../../layouts/AppLayout.astro";

const user = Astro.locals.user;
if (!user) { return Astro.redirect("/"); }

const projects = await db.query.project.findMany({
  where: eq(schema.project.userId, user.id)
});
---


<AppLayout title="Dashboard - Gust Page">
  <main class="flex flex-col gap-4 p-8">
    <h1 class="font-cabinet text-6xl font-bold bg-white w-fit px-4 py-2">Dashboard</h1>
    <section class="w-full flex justify-between px-8 py-4 items-center bg-white border border-neutral-300 rounded-lg">
      <div
        id="timer_inputs"
        hx-trigger="runTimer from:body"
        hx-post="/partials/timer/running-inputs"
        hx-swap="outerHTML"
        hx-include="[name='description'], [name='billable_rate'], [name='project_id']"
        class="flex gap-4 items-center"
      >
        <input 
          name="description"
          type="text"
          placeholder="designing prototype..."
          class="px-4 py-2 border border-neutral-300"
        />

        <select 
          id="project_select"
          name="project_id"
          class="peer h-full w-fit border border-blue-gray-200 bg-transparent px-4 py-2 text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 empty:!bg-gray-900 focus:border-neutral-400 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
        >
          <option value={""} selected>
            -- Select Project --
          </option>
          {
            projects.map((p) => 
              <option id={`project_${p.id}`} value={p.id}>
                { p.name }
              </option>
            )
          }
          <option 
            id="new_project_option"
            value="new_project"
          >
            + New Project
          </option>
        </select>

        <label for="billable_rate">
          $
          <input
            name="billable_rate"
            type="number"
            min={0}
            value={0}
            class="border-b border-neutral-300 w-fit max-w-24 focus:border-neutral-400"
          />
          / hr
        </label>
      </div>

      <TimerControl client:only="svelte" />
    </section>

    <span
      hx-trigger="load"
      hx-post="/partials/entry-table/base?page=1"
      hx-swap="outerHTML"
    >
      <p class="animate-pulse">Loading table...</p>
    </span>
  </main>
</AppLayout>


<script is:inline>
  let project_select = document.getElementById("project_select");

  project_select.addEventListener("change", function() {
    if (this.value === "new_project") {
      const new_project = prompt("Create a new project");
      if (new_project === null) { this.value = ""; }
      else {
        // call htmx on select to create option
        htmx.ajax("POST", "/partials/timer/update-new-project", {
          target: "#new_project_option",
          swap: "outerHTML",
          values: { new_project }
        });
      }
    }
  });
</script>
