---
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";
import localizedFormat from "dayjs/plugin/localizedFormat";

import { count, eq, desc } from "drizzle-orm";
import { db } from "../../../lib/drizzle";
import * as schema from "../../../lib/schema";

import EntryRow from "../../../components/EntryRow.astro";

dayjs.extend(duration);
dayjs.extend(relativeTime);
dayjs.extend(localizedFormat);

export const partial = true;

const user = Astro.locals.user;
const user_id = user.id;

// get current page number (for pagination)
const page_num = Number.parseInt(Astro.url.searchParams.get("page") as string);

// get entry count
const response = await db.select({ value: count() })
  .from(schema.entry)
  .where(eq(schema.entry.userId, user_id));

const entry_count = response[0].value;

const entries = await db.query.entry.findMany({
  where: eq(schema.entry.userId, user_id),
  orderBy: desc(schema.entry.start_time),
  limit: 10,
  offset: (page_num - 1) * 10,
});

const projects = await db.query.project.findMany({
  where: eq(schema.project.userId, user_id)
});
---

<section class="flex flex-col gap-4">
  <section class="flex justify-between items-center">
    <h3 class="text-3xl font-bold font-cabinet px-4 py-2 bg-white">Entries</h3>
    <div class="flex gap-4 items-center">
      <button
        hx-trigger="click"
        hx-post={`/partials/entry-table/base?page=${page_num - 1}`}
        hx-target="#entry_table"
        hx-swap="outerHTML"
        disabled={page_num === 1}
        class="disabled:hover:cursor-not-allowed disabled:bg-white disabled:fill-neutral-400 disabled:hover:border-neutral-400 disabled:hover:bg-neutral-400 disabled:hover:fill-white relative inline-flex h-12 w-12 items-center justify-center rounded-full border disabled:border-neutral-300 transition-colors"
      >
        <svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M26.025 14.496l-14.286-.001 6.366-6.366L15.979 6 5.975 16.003 15.971 26l2.129-2.129-6.367-6.366h14.29z"></path></g></svg>
      </button>
      <p>{page_num}</p>
      <button 
        hx-trigger="click"
        hx-post={`/partials/entry-table/base?page=${page_num + 1}`}
        hx-target="#entry_table"
        hx-swap="outerHTML"
        disabled={(page_num * 10) > entry_count}
        class="disabled:hover:cursor-not-allowed disabled:bg-white disabled:fill-neutral-400 disabled:hover:border-neutral-400 disabled:hover:bg-neutral-400 disabled:hover:fill-white relative inline-flex h-12 w-12 items-center justify-center rounded-full border disabled:border-neutral-300 transition-colors"
      >
        <svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></g></svg>
      </button>
    </div>
  </section>

  <ol class="flex flex-col px-8 py-4 gap-4 w-full bg-white border border-neutral-300 rounded-xl shadow-lg">
  {
    entries.length === 0 ? <p>No entries yet.</p> :
    entries.map((e) => (
      <EntryRow entry={e} projects={projects} />
    ))
  }
  </ol>
</section>
