---
const { title } = Astro.props;
const user = Astro.locals.user;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
		<title>{ title }</title>
	</head>
	<body class="font-satoshi">
    <nav class="flex justify-between w-full h-fit px-8 py-4 items-center">
      <a href="/" class="w-fit text-3xl transition hover:scale-105 active:scale-95 font-cabinet inline-flex items-center justify-center rounded-md bg-white px-6 font-bold text-black">Gust</a>
      <div class="flex gap-8">
        { !user ? 
          <a href="/auth/google" class="inline-flex h-12 items-center justify-center rounded-md bg-black px-6 font-semibold text-white transition hover:scale-105 active:scale-95">Sign in with Google</a> 
          : (
            <>
              <form method="POST" action="/logout">
                <button type="submit" class="inline-flex h-12 items-center justify-center rounded-md bg-white px-6 font-medium text-black border transition hover:scale-105 active:scale-95">Logout</button>
              </form>
              <a href="/app/dashboard" class="inline-flex h-12 items-center justify-center rounded-md bg-black px-6 font-semibold text-white transition hover:scale-105 active:scale-95">Dashboard</a> 
            </>
          )
        }
      </div>
    </nav>

    <!-- backgrounds from bg.ibelick.com -->
    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <!-- light mode -->
      <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
      <!-- TODO: implement dark mode
        <div class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>
      -->
    </div>
    <slot />
	</body>
</html>

<style is:global>
  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/CabinetGrotesk-Variable.woff2")
  }

  @font-face {
    font-family: "Satoshi";
    src: url("/Satoshi-Variable.woff2")
  }
</style>
