---
import { eq } from "drizzle-orm";
import { db } from "../../../lib/drizzle";
import * as schema from "../../../lib/schema";

export const partial = true;
const values = await Astro.request.body.getReader().read();await Astro.request.json();
console.log({ values });

// TODO: add new project to database
---

<!-- TODO: change value to project ID in database -->
<option value={123} selected>
  asdfasdfasdfasf
</option>
<option 
  id="new_project_option"
  value="new_project"
  hx-trigger="newProject from:body"
  hx-post="/partials/timer/update-new-project"
  hx-swap="outerHTML"
>
  + New Project
</option>
