---
import { eq } from "drizzle-orm";
import { db } from "../../../lib/drizzle";
import * as schema from "../../../lib/schema";

export const partial = true;
const data = await Astro.request.formData();
const new_project = data.get("new_project") as string;

// TODO: add new project to database
---

<!-- TODO: change value to project ID in database -->
<option value={123} selected>
  {new_project}
</option>
<option 
  id="new_project_option"
  value="new_project"
>
  + New Project
</option>
